.game_board {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.letter_container {
	height: 100px;
	width: 100px;
	background-color: white;
	border: 4px solid black;
	font-weight: bold;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.letter_container > span {
	height: 80%;
	width: 80%;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	letter-spacing: 10px;
}