@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400&display=swap');

/*
font-family: 'Sora', sans-serif;
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1em;
	font-family: 'Sora', sans-serif;
	text-align: center;
}

span, h1, h2, h3, p {
	color: white;
}

button {
	min-width: 130px;
	padding: 15px;
	border: 2px solid rgba(58, 119, 251, 0.846);
	background-color: white;
	letter-spacing: 2px;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
	transition: 0.5s;
	letter-spacing: 3px;
}